<html>
	<head>
		<link href="../static/css/style_sheet.css" rel="stylesheet" media="all" />
		<script src="../static/js/jquery-1.10.2.min.js"></script>
		<script>
			window.onready=function() {
				$("*").animate({opacity:1});
			}
		</script>
	</head>
	<body>
		<div style="width: 100%; height: 100%">
			<img style='position: absolute; top: 0px; left: 0px;' src='http://imgsrc.hubblesite.org/hu/db/images/hs-2012-49-a-xlarge_web.jpg' alt='A Cosmic Holiday Ornament, Hubble-Style' /><span class='source-ref'>Source: <a class='source-link' href='http://hubblesite.org'>Hubblesite.org</a></span>
			<h1><a href="../index.html">HEADSHOTS CONTENT</a></h1>
		</div>
	</body>
</html>



