<html>
	<head>
		<link href="../static/css/style_sheet.css" rel="stylesheet" media="all" />
		<script src="../static/js/jquery-1.10.2.min.js"></script>
		<script>
			window.onready=function() {
				$("*").animate({opacity:1});
			}
		</script>
	</head>
	<body>
		<div style="width: 100%; height: 100%">
			<img id='main-bg' class='bg-image' src='http://imgsrc.hubblesite.org/hu/db/images/hs-2003-13-a-large_web.jpg' alt='A Perfect Storm of Turbulent Gases in the Omega/Swan Nebula (M17)' /><span class='source-ref'>Source: <a class='source-link' href='http://hubblesite.org'>Hubblesite.org</a></span>
			<h1><a href="../index.html">RESUME CONTENT</a></h1>
		</div>
	</body>
</html>



