<!DOCTYPE html>
<html>
	<head>
		<style>
			.
		</style>
	</head>
	<body>
		<div class='page'>
			<div class='header'>
			</div><!-- header -->
			<div class='content'>
			</div><!-- /content -->
			<div class='footer-placeholder'></div>
			<div class='footer h-center'>
				<div id='quote'>
					<h1><span id='quote-text'>
						"I had to trust life, since I was young enough to believe that life Loved the person who dared to Live it." - Maya Angelou
					</span></h1>
				</div>
			</div><!-- /footer -->
		</div><!-- /page -->
	</body>
</html>




