{% extends 'base.html' %}
{% load staticfiles %}


{% block 'header_styles' %}
	<link href="/static/css/style_sheet.css" rel="stylesheet" media="all" />
{% endblock %}

{% block 'header_scripts' %}
	<script type="text/javascript" src="{% static "js/fade-in.js" %}"></script>
{% endblock %}

{% block 'content' %}
	<img id='main-bg' class='bg-image' src='http://imgsrc.hubblesite.org/hu/db/images/hs-2009-25-b-xlarge_web.jpg' alt='NGC 6302' /><span class='source-ref'>Source: <a class='source-link' href='http://hubblesite.org'>Hubblesite.org</a></span>
	<h1><a href="{% url "homepage" %}">VIDEO CONTENT</a></h1>
	<div class='header'>
		<h1>
			Videos
		</h1>
	</div>
	<div class='content'>
		<div>
			<div class='left'>
				Image preview goes here
		</div>
			<div class='right'>
				Description of film goes here
			</div>
		</div>
	</div>
	<div class='footer'>
		
	</div>
{% endblock %}


