<h1 class='h-center'><span>Title For Writing Sample Here</span></h1>
<p style='text-align: center;'>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
What I can do can do no hurt to try,<br>
Since you set up your rest 'gainst remedy.<br>
He that of greatest works is finisher<br>
Oft does them by the weakest minister:<br>
So holy writ in babes hath judgment shown,<br>
When judges have been babes; great floods have flown<br>
From simple sources, and great seas have dried<br>
When miracles have by the greatest been denied.<br>
Oft expectation fails and most oft there<br>
Where most it promises, and oft it hits<br>
</p>
